<!-- Describe task in general -->

<p>
    Усложнением 6ой миссии серии является то, что теперь для освещения помещения может понадобиться более одной лампочки. И это 5й аргумент функции - сколько лампочек нужно для освещения помещения.
</p>

<p>
    Например, если для освещения помещения нужно 3 лампочки, то мы не засчитываем то время, когда лампочек было всего 2 или только одна. Если последний аргумент функции не передан, значит достаточно одной лампочки для освещения помещения.
</p>

<p>
    Задача все та же - узнать сколько времени помещение было освещено (в этой задаче можно сказать - достаточно освещено).
</p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<p>
    <strong>Input: </strong>Пять аргументов и только первый обязательный. Первый – {% if is_js %}an array of Date objects (вместо Date может быть [Date, number]){% else %}a list of datetime objects(вместо datetime может быть [datetime, int]){% endif %}, а второй и третий –  {% if is_js %}the Date objects{% else %}the datetime objects{% endif %}. Четвертый аргумент <i>(operating)</i> - {% if is_js %}integer{% else %}timedelta object{% endif %} - как долго работала лампочка. Пятый аргумент - положительный int

</p>

<p>
    <strong>Output: </strong> Количество секунд как integer.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if is_js %}
<pre class="brush: javascript">sumTwo(2, 3) == 5
sumTwo(5, 7) == 12
</pre>
{% else %}
<pre class="brush: python">sum_light([
    (datetime(2015, 1, 12, 10, 0, 10), 3),
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 30), 3),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    datetime(2015, 1, 12, 10, 0, 40),
    (datetime(2015, 1, 12, 10, 0, 50), 2),
], req=2) == 20

sum_light([
    (datetime(2015, 1, 12, 10, 0, 10), 3),
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 30), 3),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    datetime(2015, 1, 12, 10, 0, 40),
    (datetime(2015, 1, 12, 10, 0, 50), 2),
], req=3) == 0

sum_light([
    (datetime(2015, 1, 12, 10, 0, 10), 3),
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 50), 3),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    datetime(2015, 1, 12, 10, 0, 40),
    (datetime(2015, 1, 12, 10, 0, 50), 2),
], req=3) == 10
</pre>
{% endif %}
</div>

<p>
    <strong>Предусловия:</strong>
</p>

<ul>
    <li><i>Массив нажатий на кнопку всегда отсортирован по возрастанию.</i></li>
    <li><i>В массиве нажатий на кнопку нет повторяющихся элементов.</i></li>
    <li><i>Количество элементов всегда четное число (это значит, что лампочка, в конце концов, будет выключена).</i></li>
    <li><i>Минимально возможная дата 1970-01-01.</i></li>
    <li><i>req > 0</i></li>
</ul>
